@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1wu2vz');
  src:  url('fonts/icomoon.eot?1wu2vz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1wu2vz') format('truetype'),
    url('fonts/icomoon.woff?1wu2vz') format('woff'),
    url('fonts/icomoon.svg?1wu2vz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube1:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
